<?xml version="1.0" encoding="utf-8"?>

<!-- Para obtener más información sobre cómo usar la transformación de Web.config, visite https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    En el ejemplo siguiente, la transformación de "SetAttributes" cambiará el valor de
    "connectionString" para usar "ReleaseSQLServer" solo cuando el localizador "Match"
    encuentre un atributo "name" con el valor "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!-- Activar depuracion SOLO en desarrollo local (Debug). La base Web.config queda con debug="false" -->
    <compilation xdt:Transform="SetAttributes(debug)" debug="true" />
  </system.web>
</configuration>
